@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: 'LibreBaskerville', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Regular.eot');
    src: url('LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('LibreBaskerville-Regular.ttf') format('truetype'),
        url('LibreBaskerville-Regular.woff2') format('woff2'),
        url('LibreBaskerville-Regular.woff') format('woff'),
        url('LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
  }

  body {
    @apply m-0 min-w-[320px] min-h-screen bg-[#F7F1EB] text-base;
  }

  a {
    @apply inline-block;
  }

  h2 {
    @apply text-[48px] md:text-[64px] font-semibold font-[LibreBaskerville] leading-[1] md:leading-[1.2] mb-2;
  }
}

@layer components {
  .container-custom {
    @apply max-w-[1280px] mx-auto p-8;
  }

  .category-list {
    @apply relative;
  }

  .category-list:before {
    content: "";
    width: 200px;
    height: 1px;
    @apply bg-primary absolute left-0 bottom-0 max-[768px]:hidden min-[1200px]:bottom-[unset] lg:block;
  }

  .category-list:after {
    content: "";
    width: 200px;
    height: 1px;
    @apply bg-primary absolute right-0 bottom-0 max-[768px]:hidden min-[1200px]:bottom-[unset] lg:block;
  }

  .card-order:hover {
    background-color: #ffffff;
    background-image:  radial-gradient(#CA2D0E 0.5px, transparent 0.5px), radial-gradient(#CA2D0E 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
  }
}