@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'LibreBaskerville';
    font-weight: 400;
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Regular.eot');
    src: url('LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('LibreBaskerville-Regular.woff2') format('woff2'),
        url('LibreBaskerville-Regular.woff') format('woff'),
        url('LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  a {
    @apply inline-block;
  }

  h2 {
    @apply text-[48px] md:text-[64px] font-semibold font-[LibreBaskerville] leading-[1] md:leading-[1.2] mb-2;
  }
}

@layer components {
  .category-list {
    @apply relative;
  }

  .category-list:before {
    content: "";
    width: 200px;
    height: 1px;
    @apply bg-primary absolute left-0 bottom-0 min-[1200px]:bottom-[unset] lg:block;
  }

  .category-list:after {
    content: "";
    width: 200px;
    height: 1px;
    @apply bg-primary absolute right-0 bottom-0 min-[1200px]:bottom-[unset] lg:block;
  }
}