@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply inline-block;
  }

  h1 {
    @apply text-[72px] font-bold;
  }

  h2 {
    @apply text-[38px] font-bold;
  }
}

@layer components {
  .category-list {
    @apply relative;
  }

  .category-list:before {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    @apply bg-primary absolute left-0;
  }

  .category-list:after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    @apply bg-primary absolute right-0;
  }
}